.header {
  position: relative;
  display: flex;
  flex-flow: row;
  font-size: 20px;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
.addUrl {
  display: flex;
  flex-flow: row;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  height: 50px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
  position: relative;
}
.headerItem {
  transition: 0.2s;
  cursor: pointer;
  color: #818181;
  font-size: 20px;
}
.headerItem:hover {
  color: #f7297c;
}
.headerItem:active {
  opacity: 0.3;
}
.urlInput {
  border: 0;
  outline: 0;
  font-size: 20px;
  background-color: #f5f6fa;
}
.urlBtns {
  font-size: 20px;
}
.urlBtns i {
  transition: 0.2s;
  cursor: pointer;
  margin: 5px;
}
.urlBtns i:first-child {
  color: #4adbbd;
}
.urlBtns i:first-child:hover {
  opacity: 0.5;
}
.urlBtns i:nth-child(2) {
  color: #f7297c;
}
.urlBtns i:nth-child(2):hover {
  opacity: 0.5;
}

.closeBtn {
  transition: 0.2s;
  cursor: pointer;
  margin: 5px;
  color: #f7297c;
  font-size: 20px;
}
.closeBtn:hover {
  opacity: 0.5;
}
