body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.news__item {
  background-color: rgb(112, 112, 112);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  color: #ffffff;
}
.news__item_title {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0 10px 0;
}
header {
  display: flex;
  color: #ffffff;
  background-color: #000000;
  flex-flow: row;
}
.menu {
  list-style-type: none;

  align-items: center;
}
.menu__item {
  display: inline-block;
  padding: 0 0 0 10px;
}
.menu__item a {
  transition: 0.2s;
  color: #ffffff;
  text-decoration: none;
}
.menu__item a:hover {
  text-decoration: underline;
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
  border-right: 1px solid;
  padding: 0 20px 0 20px;
  display: flex;
  flex-flow: row;
  align-items: center;
}
