.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px 0 20px 0;
  position: relative;
}
.mock {
  position: absolute;
  width: 300px;
  height: 250px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 150px;
  color: #8b989861;
  top: 10px;
}
