.mapBtns {
  position: absolute;
  padding: 5px;
}
.mapBtns button {
  transition: 0.2s;
  border: 1px solid #a8a8a8;
  outline: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #727272;
  display: block;
}
.mapBtns button:hover {
  background: #4adbbd;
  color: #ffffff;
}
