.control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  transition: 0.2s;
  outline: 0;
  border: 1px solid#337ab7;
  border-radius: 5px;
  cursor: pointer;
  color: #337ab7;
  font-weight: bold;
  margin-top: -10px;
  padding: 10px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0);
}
.btn:hover {
  color: #ffffff;
  background-color: #337ab7;
}
